extends layout

block header
      h1= title
      p Welcome to #{title} 

block content

      each item in results
        li
          | #{item.artist} - #{item.title} 
          a(href='./local/#{item.id}' ) (run locally) 
          a(href='./cast/#{item.id}' ) (run on 'cast)
